@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}

.basic-box {
  border: 1px solid var(--secondary);
  padding: 15px;
  margin-bottom: 15px;
}